<!doctype html>
<html>
<head>
    <title>Slowthai Merch Clone Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        
        <div class="col-sm-6">
          <h3>Products</h3>
          <form action="">
          <ul class="messages">
          <% for(var i=0; i<merch.length; i++) {%>
            <li class="message">
              <img src="<%= merch[i].src %>" alt="">
              <span><%= merch[i].name %></span> 
              <span><%= merch[i].color %></span>
              <span>$<%= merch[i].price %></span>
            <button type="submit" class="addToCart">Add To Cart</button>
            </li>
          <% } %>
          </form>
          </ul>
          <h3>Your Cart</h3>
          <ul class="messages">
          <% for(var i=0; i<cart.length; i++) {%>
            <li class="message">
              <img src="<%= cart[i].src %>" alt="">
              <span><%= cart[i].name %></span> 
              <span><%= cart[i].color %></span>
              <span><%= cart[i].price %></span>
              <span><%= cart[i].time %></span>
              <button class="fa-trash">Delete from cart</button>
            </li>
          <% } %>
          </ul>
</div>

<script src="main.js"></script>

</body>
</html>
